body {
  margin: 10px;
  background-color: #333333;
  color: white;;
}

.game {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  margin: 8px;
}

.grid {
  position: relative;
  width: 500px;
  height: 500px;
  border: solid black 1px;
  background-color: black;
}

.object {
  position: absolute;
  width: 8px;
  height: 8px;
  border: solid black 1px;
  border-radius: 10px;
  top: 0px;
  left: 0px;
}

.buttons {
  position: absolute;
  top: 520px;
}

.buttons button{
  color: white;
  border-radius: 5px;
  font-weight: 1000;
  font-family: 'Times New Roman', Times, serif;
  transition: box-shadow 0.3s;
}

.buttons button:hover {
  box-shadow: 2px 2px black;
}

.buttons button:active {
  opacity: 50%;
}

.move-button {
  background-color: blue;
}

.next-button {
  background-color: darkgreen;
}

.select-button {
  background-color: orangered;
}

.print-button {
  background-color: indigo;
}

.pick-button {
  background-color: chocolate;
}

.data-button {
  background-color: darkslateblue;
}

.reset-button {
  background-color: darkgoldenrod;
}

.kill-zone {
  position: absolute;
  top: 550px;
}

#x1-value, #x2-value, #y1-value, #y2-value{
  width: 20px;
}

.myProgress {
  position: absolute;
  top: 580px;
  width: 200px;
  background-color: grey;
}

.myBar {
  width: 0%;
  height: 15px;
  background-color: green;
}

#skip-value {
  width: 50px;
}

.data {
  position: absolute;
  left: 550px;
}

.genome-descriptor {
  margin-top: 120px;
}

#object-name {
  width: fit-content;
  padding: 5px;
  border-radius: 4px;
}

#genome {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.promoter {
  border-radius: 14px;
}

.genome-marker {
  display: inline-block;
  position: relative;
  vertical-align: top;
  border: 2px solid black;
  padding: 2px;
  font-size: larger;
  cursor: pointer;
}

.genome-marker-copy {
  display: inline-block;
  position: relative;
  vertical-align: top;
  border: 2px solid black;
  padding: 2px;
  font-size: larger;
}

.active-prom {
  box-shadow: 0px 0px 5px 2px lightgreen;
}

.inactive-prom {
  box-shadow: 0px 0px 5px 2px lightcoral;
}

.genome-label {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  color: white;
  top: 100%;
  left: 0;
  margin-top: 10px;
  background-color: #222222;
}

.genome-marker:hover .genome-label {
  visibility: visible;
}

.genome-marker:hover {
  border: 3px solid white;
  margin: 4px;
  padding: 2px;
  font-weight: bold;
}

.category {
  text-decoration: underline;
}
.large-data {
  visibility: hidden;
  max-width: 1200px;
}

#large-graphs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

#large-graphs canvas {
  max-width: 500px;
  max-height: 500px;
  display: block;
}

#large-graphs h2 {
  grid-column: 1 / span 2;
  width: 100%;
  text-decoration: underline;
}